#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# X Window System configuration information
xconfig  --startxonboot
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# Reboot after installation
reboot
# Root password
rootpw P@ssw0rd
# System timezone
timezone America/Detroit
# Use network installation
url --url="http://centos.ialab.emich.edu/7/os/x86_64/"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eno16780032
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --disabled

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr  --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=sda
part /boot --asprimary --fstype=ext4 --size=256
part pv.01 --size=1 --grow
volgroup root pv.01
logvol swap --vgname=root --size=768 --fstype=swap --name=swap
logvol / --vgname=root --size=8192  --fstype=ext4 --name=root --mkfsoptions="-m 0.1"
logvol /opt --vgname=root --size=10240 --grow --fstype=ext4 --name=opt --mkfsoptions="-m 0.1"
logvol /splunkdata/Hot --vgname=root --size=20480 --fstype=xfs --name=SPK-HOT --fsoptions=noexec,nodev,nosuid
logvol /splunkdata/cold --vgname=root --size=20480 --fstype=xfs --name=SPK-COLD --fsoptions=noexec,nodev,nosuid
logvol /splunkdata/sum --vgname=root --size=10240 --fstype=xfs --name=SPK-SUM --fsoptions=noexec,nodev,nosuid

repo --name=updates --baseurl=http://cenots.ialab.emich.edu/$releasever/updates/$basearch/
repo --name=ialab --baseurl=http://repo.ialab.emich.edu/

%packages
@base
@console-internet
@core
@debugging
@directory-client
@hardware-monitoring
@java-platform
@network-file-system-client
@performance
@perl-runtime
pax
oddjob
sgpio
certmonger
pam_krb5
krb5-workstation
perl-DBD-SQLite
screen
vim
wget
realmd 
sssd 
oddjob 
oddjob-mkhomedir 
adcli 
samba-common 
autofs
samba-common-tools
krb5-workstation.x86_64
sssd-krb5.x86_64
bind-utils
IALABS-CIS.el7
IALAB-REPO
IALAB-SPK
%end

%post
chown splunk.splunk -R /splunkdata
%end

